<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.gun0912.tedonactivityresult">

  <application>
    <activity
        android:name=".ProxyActivity"
        android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|screenLayout|fontScale|uiMode|orientation|screenSize|layoutDirection"
        android:screenOrientation="unspecified"
        android:theme="@style/Theme.AppCompat.Light.Dialog" />
  </application>
</manifest>
